<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="sst.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.js"></script>
    <script src="ss.js">

    </script>
  
    <title></title>


</head>
<body ng-app="range" ng-controller="myctrl"> 

    

        <input type="range" ng-model="value" orient="vertical" id="Slider"  min="0" max="100" step="10" value="0" />
    <p ng-model="value">{{value}}</p>

        <div id="container"> </div>

</body>
</html >
