body {
    display: flex;
    justify-content: center;
    margin-top: 200px;
     background: #2a3b81;
    overflow: hidden;
}


#Slider {
    display: flex;
    justify-content: center;
    -webkit-appearance: none;
    width: 25%;
    outline: none;
    height: 50px;
    background: #2a3b81;
    border-radius: 50px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    transform: rotate(-90deg);
    /* box-shadow: -5px -5px 10px 5px #213a9d, 5px 5px 10px 5px black;
      box-shadow: -2px -2px 10px 2px black, 2px 2px 10px 2px #213a9d;*/
    border: 20px solid #6974ef;
    /* box-shadow: -5px -5px 10px 5px #254ac4, 5px 5px 10px 5px black;*/
}

input[type='range'] {
    /*  transform: rotate(-90deg);
    background-color: #2a3b81;*/
    box-shadow: -10px -10px 4px #767ee0, 10px 10px 10px #272a45;
    -webkit-appearance: none;
}



#Slider::-webkit-slider-thumb {
    overflow: hidden;
    -webkit-appearance: none;
    opacity: 1;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: url('pw.svg');
    transform: rotate(90deg);
    /* box-shadow: -5px -5px 10px 5px #767ee0, 5px 5px 10px 5px black;
       box-shadow: 0px 186px 0px 168px #ff6a00;*/
    cursor: pointer;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
#Slider:focus::-webkit-slider-thumb:hover {
    width:40px;
    height:40px;
    border-radius:40px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    background-color: #ff6a00;
    /*  box-shadow: -5px -5px 8px 5px #0e1c45,0px 186px 0px 168px #ff6a00;
    box-shadow: 0px 186px 0px 168px #ff6a00;*/
    box-shadow:-5px -5px 5px #272a45;
}


#Slider:focus::-webkit-slider-runnable-track {
    /* box-shadow: -1px 1px 5px 1px black, 1px 1px 5px 1px black;*/
    overflow: hidden;
    background-repeat: repeat;
    -webkit-appearance: none;
    border-radius: 55px;
    background: #2a3b81;
    box-shadow: inset -10px -10px 5px #6d76de, inset 10px 10px 5px #272a45;
      
}
/*#Slider:focus::-ms-fill-lower {
    background-color: #ff6a00;
    
}
#slider:focus::-ms-fill-upper {
    background-color: #2a3b81;
}*/



/*div {
    background: #6974ef;
    margin-left: 120px;
}

#container {

    margin-top:-230px;
    height:400px;
    width:100px;
    display:flex;
    border-radius:50px;

}*/



