body {
    background: #2a3b81;
    padding: 0px;
    justify-content: center;
    display: flex;
    margin-top: 200px;
}

input[type='range'][orient=vertical] {
    writing-mode: vertical-lr;
    -webkit-appearance: none;

    -webkit-appearance: slider-vertical;
    width: 50px;
    height: 50px;
    padding: 0px 0px;
    -webkit-transform: rotate(-90deg)
}
input[type='range']::-webkit-slider-runnable-track {
       border-radius:50px;
    -webkit-appearance: none;
   animation:0.2s;
    background: #2a3b81;
}

/*input[type=range]::-moz-range-progress {
    background-color: #ff6a00;
    width:59px;
    height: 1em;
    border-radius: 50px;
    
}*/


    


input[type='range']::-ms-track {
        border: black;
        border-width: 16px 0px;
    }

#slidercontainer{
    width:300px;
    margin-top:50px;
    border-width:thin;
}

#slider {
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    height: 50px;
    background: #2a3b81;
    opacity: 0.7;
    border-radius: 50px;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border: 20px solid #6974ef;
}

.slider:hover{
    opacity:1;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 0;
    background: url('pw.svg');
    cursor: pointer;
    -webkit-transform: rotate(90deg);
}
/*.slider::-moz-range-thumb {
        height: 50px;
        width:50px;
        border-radius: 50px;
        border: 0;
        background: url('pw.svg');
        cursor: pointer;
    }*/
